@model SocialMediaApp.Models.ApplicationUser

<div class="full-profile d-flex flex-column align-items-center">
    <div class="user-profile d-flex flex-column align-items-center border-bottom pb-3"> 
        @*informatii profil*@
        <div class="d-flex flex-row profile-info-container">
            @*poza profil*@
            <div class="pfp-container">
                <img src = "@Model.ProfilePicture"/>
            </div>
            <div class="profile-info d-flex flex-column justify-content-between">
                <div class="profile-full-name fs-4">
                    <b>@Model.FirstName @Model.LastName</b>
                </div>
                <div class="profile-stats d-flex justify-content-between">
                    <div>Posts: @Model.Posts.Count()</div>
                    <div>Followers: @Model.Followers.Count()</div>
                    <div>Following: @Model.Follows.Count()</div>
                </div>
                <div class="profile-description">
                    @Model.Description
                </div>
            </div>
        </div>
        @*buton follow - momentan nefunctional*@
        <div class="mt-2">
            <button class="follow-button btn btn-primary">Follow</button>
        </div>

    </div>
    <div class="profile-posts-container d-flex flex-column">
        <partial name="ProfilePosts" model="Model"></partial>
    </div>
</div>